@font-face {
  font-family: "iconfont"; /* Project id 2936783 */
  src: url('iconfont.woff2?t=1637375390347') format('woff2'),
       url('iconfont.woff?t=1637375390347') format('woff'),
       url('iconfont.ttf?t=1637375390347') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 12px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xuanfuchuang:before {
  content: "\e600";
}

.icon-xiaochuangkou:before {
  content: "\e6f3";
}

.icon-stick_icon:before {
  content: "\e668";
}

.icon-quxiaozhiding:before {
  content: "\e6eb";
}

